.contact {
  position: relative;
  background-color: $bg-work;
  padding: 40px 40px;

  &__container {
    display: block;
    padding-top: 100px;
    background: url(../img/bg/logo.png) center top no-repeat;
  }

  &__label {
    display: block;
    margin-bottom: 30px;
    font-size: 24px;
    font-style: italic;
    color: $form-label-color;
  }

  &__email {
    text-align: center;
  }

  &__input {
    padding: 20px;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid $form-border-color;
  }

  &__btn {
    background: $main-color;
    font-size: 18px;
    line-height: 22px;
    color: $form-btn-color;
    text-transform: uppercase;
    padding: 17px;
    border: 4px solid $main-color;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
      background: none;
      color: $main-color;
    }
  }
}

@media screen and (max-width: 398px) {
  .contact {
    &__input {
      width: 100%;
      margin-bottom: 10px;
    }

    &__btn {
      width: 100%;
    }
  }
}
