.footer {
  @include padding ($footer-padding-tb, $footer-padding-rl);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
  }

  &__address {
    width: calc(100%/3);
    text-align: left;

    &-title {
      font-weight: 700;
      line-height: 1.3;
    }

    &-description {
      font-style: italic;
      line-height: 1.3;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    width: calc(100%/3);
    &-link {
      opacity: 0.8;
      @include width-height($footer-width, $footer-height);
      &:hover {
        opacity: 1;
        transform: scale(1.02);
      }

      &:not(:last-child) {
        margin-right: 5px;
      }

      &--tw {
        background: url(../img/icon/social-tw.png) center center no-repeat;
      }

      &--fb {
        background: url(../img/icon/social-fb.png) center center no-repeat;
      }

      &--pin {
        background: url(../img/icon/social-pin.png) center center no-repeat;
      }
    }
  }

  &__copyright {
    display: flex;
    width: calc(100%/3);
    justify-content: flex-end;
    align-items: center;

    &-logo {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width:590px) {

  .footer {

    &__container {
      flex-direction: column;
    }

    &__social {
      order: -1;
      padding-bottom: 20px;
      width: 100%;
    }

    &__address {
      text-align: center;
      padding-bottom: 20px;
      width: 100%;
    }

    &__copyright {
      width: 100%;
      justify-content: center;
    }
  }

}
