.menu {
  position: relative;
  z-index: 0;

  &__list {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    color: $header-color;
    list-style: none;
    padding: 20px 0;
  }

  &__item {
    margin: 0 20px;
    text-transform: uppercase;
    letter-spacing: 2px;

    &--dot {
      position: relative;

      &:after {
        content: '.';
        position: relative;
        bottom: 0;
        right: -20px;
      }
    }
  }
}

@media screen and (max-width: 650px) {

  .menu {
    &__item {
      &--dot {
        &:after {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 563px) {

  .menu {
    &__list {
      flex-direction: column;
      background: radial-gradient(at center, #fff, transparent);
    }

    &__item {
      padding-top: 15px;
      text-shadow: 0px 0px 6px #fff;

      &--logo {
        order: -1;
      }
    }
  }
}
