@mixin wh {
  width: $width;
  height: $height;
}

$width: 10px;
$height: 10px;
$border-color: #ccc;

input[type="radio"] {
display: none;
}

.reviews {
  padding: 80px 20px;

  &__container {
    position: relative;
    height: 100px;
    max-width: 900px;
    margin: auto;
  }

  &__switcher {

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      border-radius: $width;
      border: 1px solid $border-color;
      @include wh;
    }

    &--one::before {
      left: 47%;
    }

    &--two::before {
      left: 50%;
    }

    &--three::before {
      left: 53%;
    }
  }

  &__radio:checked {
      & + .reviews__switcher::before {
        content: '';
        position: absolute;
        border-radius: $width;
        background: $border-color;
        @include wh;
      }
  }
}
