input[type="radio"] {
  display: none;
}

.reviews {
  position: relative;
  min-height: 180px;
  max-width: 800px;
  margin: auto;

  &__label {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 10px;
      height: 10px;
      background: black;
    }

    &--one {
      &::after {
        left: 50%;
      }
    }

    &--two {
      &::after {
        left: 47%;
      }
    }

    &--three {
      &::after {
        left: 53%;
      }
    }
  }

  &__name {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding: 20px 0;
  }

  &__time {
    margin-left: 20px;
    font-weight: 100;
  }

  &__blockquote {
    text-align: center;
  }

  &__one {

    &--icon1 {
      background: url(../img/icon/tw.png) center 0 no-repeat;
      height: 30px;
    }
  }

  &__radio--first {
    &:checked ~ .reviews {
      &__one {
        left: -400px;
      }
    }
  }

}
