/* main style*/

$header-color: #4d4959;
$text-color: #848789;
$main-color: #64c29e;
$bg-color: #f7f7f7;
$bg-work: #fff;
$bg-links: #282F35;

/* main style end*/
/* about-us */

$about-us-padding-tb: 80px;
$about-us-padding-rl: 10vw;


/* about-us end */
/* reviews */

$switcher-width: 10px;
$switcher-height: 10px;
$switcher-border-color: #ccc;
$rev-cont-width: 60vw;
$rev-height: 150px;

/* reviews end */
