.work {
  height: 500px;
  display: flex;

  &__img {
    position: relative;
    background-size: cover ;
    flex-grow: 1;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 200px;
    }

      &--first {
        background: url(../img/content/1.jpg) 50% 50% no-repeat;
        &::after {
          background: url(../img/icon/2.png) 50% 50% no-repeat;
        }
      }

      &--second {
        background: url(../img/content/3.png) 50% 50% no-repeat;
        &::after {
          background: url(../img/icon/5.png) 50% 50% no-repeat;
        }
      }

      &--third  {
        background: url(../img/content/6.png) 50% 50% no-repeat;
        &::after {
          background: url(../img/icon/6.png) 50% 50% no-repeat;
        }
      }

      &--fourth {
        background: url(../img/content/5.png) 50% 50% no-repeat
      }
  }

  &__article {
    position: relative;
    flex-basis: calc(100%/3);
  }

  &__container {
    position: relative;
    background-color: $bg-work;
    height: 70%;
    transition: height .2s linear;
    z-index: 2;
    @include padding(40px, 40px);

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 30px;
      width: 100px;
      height: 1px;
      background: darken($bg-color, 10%);
      border-radius: 10px;
      transform: translate(-50%,-50%);
      transition: width .2s linear;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -45px;
      border: 15px solid transparent; /* Прозрачные границы */
      border-top: 15px solid $bg-work;
      transform: translate(-50%,-50%);
      transition: .2s;
    }

    &:hover {
      height: 90%;
      & .work__description {
        height: 300px;
      }
      &::after {
        bottom: -15px;
        border: 15px solid transparent; /* Прозрачные границы */
        border-bottom: 15px solid $main-color;
      }
      &::before {
        width: 150px;
      }
    }
  }

  &__title {
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
    &.work__title--icon1 {
      background: url(../img/icon/3.png) center 0 no-repeat;
    }
    &.work__title--icon2 {
      background: url(../img/icon/4.png) center 0 no-repeat;
    }
    &.work__title--icon3 {
      background: url(../img/icon/7.png) center 0 no-repeat;
    }
  }

  &__description {
    text-align: justify;
    height: 130px;
    overflow: hidden;
    transition: height .2s linear;
  }

  &__bt-img {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding-top: 150px;

    &--seat-red {
      background: url(../img/content/2.jpg) center center no-repeat;
      background-size: cover;
    }

    &--seat-black {
      background: url(../img/content/4.png) center center no-repeat;
      background-size: cover;
    }

    &--frame {
      background: url(../img/content/7.png) center center no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (max-width: 1180px) {
  .work {
    &__container {
      &:hover {
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .work {
    &__article {
      flex-basis: 0;
      flex-grow: 1;
    }

    &__img {
      &--fourth {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .work {
    &__img {
      display: none;
    }
  }
}
